body {
	height: 110vh;
	background-image: linear-gradient(to top, lime, deepskyblue, blueviolet, magenta, yellow, lime);
	background-size: 1000% 1000%;
	font-family: 'Lora', serif;
	animation: glow 30s linear infinite;
}

marquee {
	position: fixed;
}

div {
	padding: 15px 0px;
	line-height: 24px;
	text-align: center;
}

h1, h2, h3, h4 {
	line-height: normal;
	text-align: center;
}

.beersushuldknow {
    font-size: 27px;
    font-weight: bold;
}

.address {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.2;
    width: 268px;
    border: 7px double;
    margin: 30px auto;
    padding: 30px 20px;
}

#message-container {
	top: 60px;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}

#birthday-message {
	position: absolute;
	padding: 30px;
	background: white;
	width: 400px;
}

.circle {
    display: inline-block;
    border-radius: 100%;
    position: absolute;
}
.small {
    height: 50px;
    width: 50px;
}
.medium {
    height: 100px;
    width: 100px;
}
.big {
    height: 150px;
    width: 150px;
}
.rotate {
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.big-duration {
	animation-duration: 4s;
}
.medium-duration {
	animation-duration: 2s;
}

.small-duration {
	animation-duration: 1s;
}

.falling {
	position: absolute;
	animation-name: falling;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.big-falling {
	animation-duration: 15s;
}

.medium-falling {
	animation-duration: 10s;
}

.small-falling {
	animation-duration: 5s;
}

.big-depth {
	opacity: 1;
}

.medium-depth {
	opacity: .6;
}

.small-depth {
	opacity: .3;
}

@keyframes glow {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 100%;
	}
}

@keyframes falling {
	0% {
		transform: translateY(0vh);
	}

	100% {
		transform: translateY(100vh);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
